<script setup lang="ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue'
import EventListeners from './components/EventListeners.vue'
import FormBindings from './components/FormBindings.vue';
import ConditionalRendering from './components/ConditionalRendering.vue';
import ListRendering from './components/List Rendering.vue';
</script>
<template>
  <h1>Hello world</h1>
  <DeclarativeRendering />
  <AttributeBindings />
  <EventListeners/>
  <FormBindings/>
  <ConditionalRendering/>
  <ListRendering/>
</template>